.headerDiv{
    width: 100%;
    background-color: blue;
    height: 55px;
    }

.headerDiv h1{

    font-family: Tahoma, sans-serif;
    size: 35px;
    color: green;
    }

.menuDiv{
    border: 1px solid lightslategray;
    }
.menuDiv h2{
    size: 20px;
    color: blue;
    }
.menuDiv ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    width: 95%;
    font-size: 20px;
    }
    
.menuDiv li {
    border-bottom: 1px solid #90bade;
    margin: 0;
    }

.menuDiv li a {
    display: block;
    padding: 5px 5px 5px;
    background-color: blue;
    color: #fff;
    text-decoration: none;
    width: auto;
    font-size: 15px;
    }

.menuDiv li a:hover {
    background-color: purple;
    color: aqua;
    border-style: none;
    border-left: 5px solid #1c64d1;
    border-right: 5px solid #5ba3e0;
    }

.mainContentDiv{
    border: 1px solid lightslategray;
    }  
.FooterDiv{
    width: 100%;
    height: 55px;
    border: 1px solid lightslategray;
    }
.FooterDiv h2{
     font: Arial;
     size: 25px;
    }
